* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  /* NAVBAR STYLING */
  
  .navbar {
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar1 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar2 {
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(250,231,192,1) 34%, rgba(240,80,83,1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  
  .navbarclass {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbarlogo {
    background-color: #292929;
    font-family: Yellowtail;
    font-size: 16px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    opacity: 80%;
  }
  
  .navbarmenu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbaritem {
    height: 80px;
  }
  
  .navbarpages2 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-family: Poppins;
    font-size: 16px;
  }

  .navbarpages {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-family: Poppins;
    font-size: 16px;
  }

  .navbarpages1 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-family: Poppins;
    font-size: 16px;
  }

  .navbarpages:hover {
    color:  #292929;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 960px) {
    .navbarclass {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbarmenu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbarmenu.current {
      background: #292929;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbarlogo {
      padding-left: 25px;
    }
  
    .navbarswitch .bar {
        background: #fff;
        height: 3px;
        width: 25px;
        transition: all 0.3s ease-in-out;
        margin: 5px auto;
    }
  
    .navbaritem {
      width: 100%;
    }
  
    .navbarpages {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #mobilemenu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbarswitch .bar {
      display: block;
      cursor: pointer;
    }

  }

 
  /* HOME PAGE STYLING */
  
  .homeheading:hover{
    opacity : 70%;
    transform:scale(1.2);
    transition: 0.3s ease-in;
  }

  .home {
    /*background: rgb(255, 252, 252);*/
    padding: 200px 0;
  }
  
  .homeclass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  
  .homeheading {
    font-size: 130px;
    font-family: yellowtail;
    margin-bottom: 10px;
    color: #f05053;
  }

  .homeheading:hover{
    transform:scale(1.2);
    transition: 0.3s ease-in;
  }
  
  .homecontent {
    font-size: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .homeheading {
      font-size: 100px;
    }
  
    .homecontent {
      font-size: 20px;
    }
  }
  

  /* STYLED ABOUT SECTION */

  .about {
    background:rgb(247, 245, 240);
    padding: 10rem 0;
  }
  
  .aboutcontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .abouttextcontent {
    color: black;
    width: 100%;
  }
  
  .abouttextcontent h1 {
    font-size: 25px;
    background-color: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 32px;
  }
  
  .abouttextcontent p {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 700;
  }

  span {
    font-family: Yellowtail;
    font-size: 55px;
    background: #ee0979;
    background: linear-gradient(
      to right,
      #ff6a00,
      #ee0979
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;

  }
  
  .aboutimagecontent {
    text-align: center;
  }
  
  .aboutimage {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

@media screen and (max-width: 1100px) {
  .aboutcontent{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .aboutimagecontent {
    display: flex;
    justify-content: center;
  }

  .aboutimage {
    height: 425px;
    width: 425px;
  }

  .abouttextcontent {
    text-align: center;
    margin-bottom: 4rem;
  }

  .abouttextcontent h1 {
    font-size: 25px;
    margin-top: 2rem;
  }

  .abouttextcontent p {
    margin-top: 1rem;
    font-size: 18px;
  }
}



@media screen and (max-width: 480px) {
  .aboutimage {
    width: 250px;
    height: 250px;
  }

  .abouttextcontent h1 {
    font-size: 1rem;
    margin-top: 3rem;
  }

  .abouttextcontent p {
    margin-top: 2rem;
  }
}

a {
  color: rgb(225, 102, 104);
  font-weight: bold;
}

a:hover{
  color: white;
  transition: all 0.3s ease;
  
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* STYLED CONCEPT ART SECTION */

.conceptart {
  background: rgb(248, 242, 222);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.conceptart h1 {
  background-color: rgba(240,80,83,1);
  font-family: Yellowtail;
  background-image: rgba(240,80,83,1);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 5rem;
  font-size: 3.2rem;
}

.conceptartcontent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.conceptartimg {
  margin: 10px;
  height: 320px;
  width: 320px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: lavender;
  transition: 0.3s ease-in;
}

.conceptartimg:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .conceptartcontent {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .conceptartcontent {
    grid-template-columns: 1fr;
  }
}



/* DESIGN STYLING */

.design {
  background: rgb(255, 252, 252);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.design h1 {
  background-color: rgba(240,80,83,1);
  font-family: Yellowtail;
  background-image: rgba(240,80,83,1);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 3.2rem;
}

.hidden {
  display : none;
}

.designcontent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 80px;
}

.designimg {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  height: 300px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in;
}


.designimg:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .designcontent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .designcontent {
    grid-template-columns: 1fr;
  }
}

.designheading:hover{
  opacity : 70%;
  transform:scale(1.04);
  transition: 0.3s ease-in;
}

.designimg {
	width: 300px;
}

.contact {
  background: rgb(255, 243, 244);
  padding: 200px 0;
}

.contactclass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.contactheading {
  font-size: 100px;
  font-family: yellowtail;
  margin-bottom: 10px;
  color: #f05053;
}

.contactcontent {
  font-size: 18px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .contactheading {
    font-size: 80px;
  }

  .contactcontent {
    font-size: 17px;
    margin-top: 1rem;
  }
}

.littletext {
    font-size: 12px;
    margin-bottom: 15px;
}

.normaltext {
  font-size: 18px;
  margin-bottom:18px;
}

/* BLOG STYLING */

.objectblog {
  background:white;
  padding: 50px 0;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.blogcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.blogtextcontent {
  color: black;
  width: 100%;
}

.blogtextcontent h1 {
  font-size: 25px;
  background-color: black;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 32px;
}

@media screen and (max-width: 1100px) {
  .blogcontent{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .blogtextcontent {
    text-align: center;
    margin-bottom: 4rem;
  }

  .blogtextcontent h1 {
    font-size: 25px;
    margin-top: 2rem;
  }

  .blogtextcontent p {
    margin-top: 1rem;
    font-size: 18px;
  }
}



@media screen and (max-width: 480px) {

  .blogtextcontent h1 {
    font-size: 1rem;
    margin-top: 3rem;
  }

  .blogtextcontent p {
    margin-top: 2rem;
  }
}


/* LABS STYLING */

.lab {
  background:white;
  padding: 50px 0;
}

.lab1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.lab2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.lab3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.lab4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.lab5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.labcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.labtextcontent {
  color: black;
  width: 100%;
}

.labtextcontent h1 {
  font-size: 25px;
  background-color: black;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 32px;
}

@media screen and (max-width: 1100px) {
  .labcontent{
    display: grid;
    grid-template-columns: 1fr;
    align-items: left;
    justify-content: left;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .labtextcontent {
    text-align: left;
    margin-bottom: 4rem;
  }

  .labtextcontent h1 {
    font-size: 25px;
    margin-top: 2rem;
  }

  .labtextcontent p {
    margin-top: 1rem;
    font-size: 18px;
  }
}



@media screen and (max-width: 480px) {

  .labcontent{
    display: grid;
    grid-template-columns: 1fr;
    align-items: left;
    justify-content: left;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .labtextcontent h1 {
    font-size: 1rem;
    margin-top: 3rem;
  }

  .labtextcontent p {
    margin-top: 2rem;
  }
}

.imageMargin {
  margin-bottom: 18px;

}

.blnormaltext{
  font-size: 22px;
  font-weight:bolder;
 
  margin-bottom: 20px;
  margin-top: 60px;;
}


/* FEATURED PROJECTS STYLING */

.featuredprojects {
  background: whitesmoke;
  padding: 50px 0;
}

.featuredprojects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.featuredcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.featuredcontent {
  color: black;
  width: 100%;
}

.featuredcontent h1 {
  font-size: 25px;
  background-color: black;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 32px;
}

@media screen and (max-width: 1100px) {
  .featuredcontent{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .featuredcontent {
    text-align: center;
    margin-bottom: 4rem;
  }

  .featuredcontent h1 {
    font-size: 25px;
    margin-top: 2rem;
  }

  .featuredcontent p {
    margin-top: 1rem;
    font-size: 18px;
  }
}



@media screen and (max-width: 480px) {

  .featuredcontent h1 {
    font-size: 1rem;
    margin-top: 3rem;
  }

  .featuredcontent p {
    margin-top: 2rem;
  }
}
